<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Musician Credits - Welcome</title>
    <link rel="stylesheet" type="text/css" href="static/musiciancredits/style.css">
</head>
<body>
    <div class="welcome">
        <div id="form" class="login-page">
            <div class="login-form">
                <h2>Welcome to Musician Credits</h2>
                    <br>
                    <p><a href="/log">Log in</a> | <a href="/reg">Create an account</a></p>
                    <br>
            </div>
        </div>
    </div>
</body>
</html>